{% extends "xray_main.html" %}

{% block tab %}
<a href="?op=clear_storage" class="btn btn-warning" title="Clear">Clear storage</a>
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.css">
<script src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>
    <div  class="table-responsive">
        <table id="objects_stat" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Object</th>
                    <th>getObject</th>
                    <th>getProperty</th>
                    <th>setProperty</th>
                    <th>callMethod</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in objects.items() %}
                <tr>
                    <td class="py-1" style="vertical-align:middle">
                        <a href="Objects?view=object&object={{value.id}}">{{ value.name }}</a> ({{value.description}})
                    </td>
                    <td class="py-1">
                        {{ value.getObject }}
                    </td>
                    <td class="py-1">
                        {{ value.getProperty }}
                    </td>
                    <td class="py-1">
                        {{ value.setProperty }}
                    </td>
                    <td class="py-1">
                        {{ value.callMethod }}
                    </td>
                    <td class="py-1" width="1%" nowrap>
                        <a href="?op=remove&object={{key}}" class="btn btn-danger"><i class="fas fa-trash"></i> Remove from storage</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        new DataTable('#objects_stat', {
            order: [[0, 'asc']],
            stateSave: true
        });
    </script>
{% endblock %}